# Python virtual environment
.venv/
venv/
ENV/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# AWS credentials
.aws/credentials
.aws/config
.aws

# Distribution / Build
awsctl.egg-info/
.eggs/
build/
dist/

.vscode
